@{
    ViewData["Title"] = "Home Page";
}
<form method="post">
    <label>Number:</label><br />
    <input name="number"></input><br />
    <label>Message:</label><br />
    <textarea  name="message" ></textarea>
    <br />
    <input type="submit" value="Отправить" />
</form>