

@{
    ViewData["Title"] = "WebSocket Example";
}

<h2>@ViewData["Title"]</h2>
<div id="messageContainer"></div>

<script>
    var host = window.location.host   
    var socket = new WebSocket(`wss://${host}/ws`);

   
    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        
        var messageContainer = document.getElementById('messageContainer');

        
        var messageDiv = document.createElement('div');
       // messageDiv.textContent = event.data; 


        messageDiv.innerHTML = `


                            <span>Number: ${data.Number}</span>
                        <span>Text: ${data.Text}</span>
                        <span>Date: ${data.Date}</span>
                        <!-- Add more fields as needed -->
                    `;


        
        messageContainer.appendChild(messageDiv);
    };

    
    socket.onopen = function (event) {
        console.log('WebSocket connection opened');
    };

    
    socket.onclose = function (event) {
        console.log('WebSocket connection closed');
    };

    
    socket.onerror = function (error) {
        console.error('WebSocket error:', error);
    };
</script>
